<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap5 rescap">

  <Identity
    Name="4174e5cf-8333-489a-989f-14520a827c3f"
    Publisher="CN=35F1B82D-C87E-47CF-B0C0-F084E1490E1E"
    Version="1.0.1.0" />

  <mp:PhoneIdentity PhoneProductId="d78e24ed-8c8d-469f-8fa2-4490fa2ef787" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TowPad</DisplayName>
    <PublisherDisplayName>itsWindows11</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application 
		Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Rich_Text_Editor.App"
		desktop4:SupportsMultipleInstances="true"
		iot2:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="TowPad"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="WordPad but with Fluent design"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen uap5:Optional="true" Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
		<uap:Extension Category="windows.fileTypeAssociation">
			<uap:FileTypeAssociation Name="rtf">
			<uap:Logo>assets\rtf-icon.png</uap:Logo>
			<uap:SupportedFileTypes>
				<uap:FileType>.rtf</uap:FileType>
			</uap:SupportedFileTypes>
		</uap:FileTypeAssociation>
		 </uap:Extension>
				<uap:Extension Category="windows.fileTypeAssociation">
			<uap:FileTypeAssociation Name="txt">
			<uap:Logo>assets\txt-icon.png</uap:Logo>
			<uap:SupportedFileTypes>
				<uap:FileType>.txt</uap:FileType>
			</uap:SupportedFileTypes>
		</uap:FileTypeAssociation>
		 </uap:Extension>
	</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose"/> 
    <uap:Capability Name="removableStorage"/>
  </Capabilities>
</Package>
